.header{
  padding: 15px 0;
}
.header__logo{
  padding: 3px 4px;
  img{
    width: 110px;
    @media(min-width:$middle){
    width: auto;
  }
}
}

.heder__links{
  display:inline-block;

  svg{
    margin-right:10px;
  }
  img{
    margin: 0 7px;
  }
  a{
    display:block;
    text-decoration:none;
    color: $regularText;
    font-size: $fsz-small;
    font-family:$ffm-reg;
    line-height:$fsz-std;
    margin-bottom:10px;
    @media(min-width:$middle){
    display:inline-block;
    margin-bottom:0;
    border: none;
  }
}
  span{
    margin-right:6px;
  }
  &-lang{
    display:inline-block;
    a{
      display:inline-block;
    }

  }
  .currentlink{
    color:#BDBDBD;
  }
}
 .heder__link{
     margin-right:44px;
 }
.heder__title{
  @media(min-width:$desctop){
    margin-top:53px;
  }
  span{
    font-size:$fsz-std;
    font-family: $f-reg;
    display:block;
    margin-left: 3px;
    @media(min-width:$desctop){
      margin-top: -15px;
    }
  }
}
.header__name{
  margin: 15px 0;
  color: $bgColor;
  font-size:30px;
  @media(min-width:$desctop){
  font: $h1;
}
}
.header__start{
  font: 17px/24px "gothamproMedium", Arial, Verdana, sans-serif;
  margin-right: 12px;
  margin-bottom: 5px;
  text-decoration:none;
  color: #262626;
  position:absolute;
  top:15px;
  right:15px;
  &:hover, &:active{
    border:none;
  }
  @media(min-width:$tablet){
    position:static;
  }
}

.header__wrap{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;

}
.heder__links.heder__links-lang{
  border:none;
  position: absolute;
  top: 15px;
  right: 15px;
  @media(min-width:$tablet){
    position:static;
  }
}
