*{
  box-sizing:border-box;
}
body{
  font-family:$ffm-reg;
  color:$regularText;
  font-size:$fsz-std;
  max-width: 2200px;
  position:relative;
  margin:0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration:none;
  color:$regularText;
  &:hover, &:active{
    border-bottom: 1px solid $regularText;
  }
}
h1{
  font-size: 30px;
  @media(min-width:$desctop){
    font-size: 42px;
  }
 }

.topwrapper{
  display: flex;
  flex-direction: column;
@media(min-width:$tablet){
background: #4849D7;
background: -moz-linear-gradient(-60deg, #ffffff 0%, #ffffff 60%, #4849D7 60%, #4849D7 100%);
background: -webkit-linear-gradient(-60deg, #ffffff 0%,#ffffff 60%,#4849D7 60%,#4849D7 100%);
background: linear-gradient(150deg, #ffffff 0%,#ffffff 60%,#4849D7 60%,#4849D7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4849D7', endColorstr='#4849D7',GradientType=1 );
padding-bottom:30px;
}
}
.container{
  min-width:320px;
  padding: 0 15px;
  @media(min-width:$tablet){
  position:relative;
  padding: 15px;
}
  @media(min-width:$desctop){
  max-width:1440px;
  padding: 30px 60px;
  margin: 0 auto;
}
}
.row{
  @media(min-width:$tablet){
  display:flex;
  margin: 0 -15px;
}
}
.col-md-5{
  @media(min-width:$tablet){
  margin:0 15px;
  width:calc(41.65% - 30px);
    }
}
.col-md-7{
  @media(min-width:$tablet){
  margin: 0 15px;
  width:calc(58.31% - 30px);
  }
}
.col-5{
  @media(min-width:$desctop){
  margin:0 15px;
  width:calc(42% - 30px);
    }
}
.col-7{
  @media(min-width:$desctop){
  margin: 0 15px;
  width:calc(58%  - 30px);
  }
}

.flex{
    @media(min-width:$tablet){
  display:flex;
}
}
.button__counter{
  justify-content:space-between;
  position:relative;
  @media(min-width:$tablet){
    margin:20px auto;
  }
}
.bg{
  background:$bgColor;
  position:relative;
}
.lg-show{
  display:none!important;
  @media(min-width:$desctop){
    display:block!important;
  }
}
.right__block{
  text-align: center;
  background: $bgColor;
  margin: 0 -15px;
  @media(min-width:$tablet){
    text-align: left;
    background: none;
    margin: 0;
  }
}
.inner-top{
  background: linear-gradient(145deg, #4849D7 0%, #4849D7 59%, #FCE373 59%, #FCE373 100%)
}
  .right__block{
  margin-top: 50px;
  }
.slider__wrap{
  margin-bottom: 0;
}


.content{
  .h1{
    font-family:$ffm-bold;
    margin: 40px 0;
    font-size: 84px;
  }
  P{
    font-family: $f-reg;
    font-size: 18px;
    line-height: 35px;
  }
}
.form__wrap{
  @media(min-width:$tablet){
    display:flex;
    width: 100%;
 }
}

.form__left{
  background:  #FCE373;
  @media(min-width:$tablet){
  width:66%;
  padding-left: 8%;
  padding-right:40px;
}
}
.form__right{
  background:  #4849D7;
  @media(min-width:$tablet){
  padding-left: 40px;
  padding-right: 8%;
  width:34%;
}
}

.form__content{
  @media(min-width:$desctop){
  margin-top: 120px;
  margin-bottom:40px;
  }
}
.form__text{
  font-size: 18px;
  max-width: 500px;
  margin:40px 0;
}
fieldset{
  border:none; 
  outline:none;
  padding:0;
  margin: 20px 0;
}

.form__fields{
  max-width:100%;
  @media(min-width:$tablet){
    max-width:416px;
  }
  label{
    display: block;
    font-family: $f-reg;
  }
  input[type="password"], input[type="text"]{
    border:none;
    width: 300px;
    height: 30px;
    margin: 20px 0;
    padding: 5px;
    @media(min-width:$tablet){
    width: 100%;
    height: 64px;
    }
  }
  input[type="submit"]{
  border:none;
  width: 300px;
  height: 30px;
  margin: 20px 0;  
  background: #F93877;
  box-shadow: 3px, 0px, 1px rgba(0, 0, 0, 0.4);
  color:#ffffff;
  @media(min-width:$tablet){
    width: 100%;
    height: 64px;
   }
  }

  :-ms-input-placeholder{
    color:#7A7A7A;
    opacity: 1;
  }
  ::-webkit-input-placeholder{
    color:#7A7A7A;
    opacity: 1;
  } 
  :-moz-input-placeholder{
    color:#7A7A7A;
    opacity: 1;
  }
  a{
    border-bottom: 1px solid;
    font-size: 14px;
    float:right;
  }
}

.form__right{
  color:#FFFFFF;
  p, a{
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    font-family: $f-reg;
    border-bottom:0;
  }
  a.bordered{
    border-bottom:1px solid #ffffff;

  &:hover{
    border-bottom:none
  }
}
}
.form__information{
  font-size:24px;
  line-height: 45px;
  font-family:$ffm-reg;  
}
  