*{
  box-sizing:border-box;
}
body{
  font-family:$ffm-reg;
  color:$regularText;
  font-size:$fsz-std;
  max-width: 2200px;
  position:relative;
  margin:0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration:none;
  color:$regularText;
  &:hover, &:active{
    border-bottom: 1px solid $regularText;
  }
}

.topwrapper{
  display: flex;
  flex-direction: column;
@media(min-width:$tablet){
background: #4849D7;
background: -moz-linear-gradient(-60deg, #ffffff 0%, #ffffff 60%, #4849D7 60%, #4849D7 100%);
background: -webkit-linear-gradient(-60deg, #ffffff 0%,#ffffff 60%,#4849D7 60%,#4849D7 100%);
background: linear-gradient(150deg, #ffffff 0%,#ffffff 60%,#4849D7 60%,#4849D7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4849D7', endColorstr='#4849D7',GradientType=1 );
padding-bottom:30px;
}
}
.container{
  min-width:320px;
  padding: 0 15px;
  @media(min-width:$tablet){
  position:relative;
  padding: 15px;
}
  @media(min-width:$desctop){
  max-width:1440px;
  padding: 30px 60px;
  margin: 0 auto;
  width:100%
}
}
.row{
  @media(min-width:$tablet){
  display:flex;
  margin: 0 -15px;
}
}
.col-md-5{
  @media(min-width:$tablet){
  margin:0 15px;
  width:calc(41.65% - 30px);
    }
}
.col-md-7{
  @media(min-width:$tablet){
  margin: 0 15px;
  width:calc(58.31% - 30px);
  }
}
.col-5{
  @media(min-width:$desctop){
  margin:0 15px;
  width:calc(41.65% - 30px);
    }
}
.col-7{
  @media(min-width:$desctop){
  margin: 0 15px;
  width:calc(58.31%  - 30px);
  }
}

.flex{
    @media(min-width:$tablet){
  display:flex;
}
}
.button__counter{
  justify-content:space-between;
  position:relative;
  @media(min-width:$tablet){
    margin:20px auto;
  }
}
.bg{
  background:$bgColor;
  position:relative;
}
.lg-show{
  display:none!important;
  @media(min-width:$desctop){
    display:block!important;
  }
}
.right__block{
  text-align: center;
  background: $bgColor;
  margin: 0 -15px;
  @media(min-width:$tablet){
    text-align: left;
    background: none;
    margin: 0;
  }
}
.inner-top{
  background: linear-gradient(150deg, #4849D7 0%, #4849D7 64%, #FCE373 59%, #FCE373 100%);
  .right__block{
  margin-top: 50px;
  }
.slider__wrap{
  margin-bottom: 0;
}
}
.content{
  .h1{
    font-family:$ffm-bold;
    margin: 40px 0;
    font-size: 84px;
  }
  P{
    font-family: $f-reg;
    font-size: 18px;
    line-height: 35px;
  }
}
.form__wrap{
  @media(min-width:$tablet){
  background: linear-gradient(to right, #FCE373 0%, #FCE373 60%, #4849D7  60%, #4849D7  100%);
}
}
.form__left, .form__right{
  @media(min-width:$tablet){
  margin: -30px 15px;
  height:100%;
}
}
.form__left{
  background:  #FCE373;
  @media(min-width:$tablet){
  width:calc(66,66% - 30px);
  padding-top: 120px;
  padding-left: 175px;
}
}
.form__right{
  background:  #4849D7;
  @media(min-width:$tablet){
  padding-top: 120px;
  padding-left: 40px;
  width:calc(33,22% - 30px);
}
}
