*{
  box-sizing:border-box;
}
body{
  font-family:$f-reg;
  color:$regularText;
  font-size:$fsz-std;
  max-width: 2200px;
  position:relative;
  margin:0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration:none;
  color:$regularText;
  &:hover, &:active{
    text-decoration: underline;
  }
}
h1, .h1{
  font-size: 30px;
  font-family:$ffm-bold;
  @media(min-width:$desctop){
    font-size: 42px;
    margin: 0;
  }
 }
 .h1{
   @media(min-width:$desctop){
   font-family:$ffm-bold;
   margin: 40px 0;
   font-size: 84px;
 }
}
 h2, .h2{
  font-size: 18px;
  font-family:$ffm-reg;
  @media(min-width:$desctop){
    font-size: 24px;
    margin:60px 0 20px 0;
  }
 }
ul {
  padding-left: 15px;
  li{
  font-size: 14px;
  line-height: 27px;
}
}
.topwrapper{
  display: flex;
  flex-direction: column;
@media(min-width:$tablet){
background: #4849D7;
background: -moz-linear-gradient(-60deg, #ffffff 0%, #ffffff 60%, #4849D7 60%, #4849D7 100%);
background: -webkit-linear-gradient(-60deg, #ffffff 0%,#ffffff 60%,#4849D7 60%,#4849D7 100%);
background: linear-gradient(150deg, #ffffff 0%,#ffffff 60%,#4849D7 60%,#4849D7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4849D7', endColorstr='#4849D7',GradientType=1 );
padding-bottom:30px;
}
}
.container{
  min-width:320px;
  padding: 0 15px;
  @media(min-width:$tablet){
  position:relative;
  padding: 15px;
}
  @media(min-width:$desctop){
  max-width:1440px;
  padding: 30px 60px;
  margin: 0 auto;
}
}
.row{
  @media(min-width:$tablet){
  display:flex;
  margin: 0 -15px;
}
}
.col-md-5{
  @media(min-width:$tablet){
  margin:0 15px;
  width:calc(41.65% - 30px);
    }
}
.col-md-7{
  @media(min-width:$tablet){
  margin: 0 15px;
  width:calc(58.31% - 30px);
  }
}
.col-5{
  @media(min-width:$desctop){
  margin:0 15px;
  width:calc(42% - 30px);
    }
}
.col-7{
  @media(min-width:$desctop){
  margin: 0 15px;
  width:calc(58%  - 30px);
  }
}

.flex{
    @media(min-width:$tablet){
  display:flex;
}
}

.button__counter{
  justify-content:space-between;
  position:relative;
  @media(min-width:$tablet){
    margin:50px 0 20px 0;
  }
}
.bg{
  background:$bgColor;
  position:relative;
}
.lg-show{
  display:none!important;
  @media(min-width:$desctop){
    display:block!important;
  }
}
.right__block{
  text-align: center;
  background: $bgColor;
  margin: 0 -15px;
  @media(min-width:$tablet){
    text-align: left;
    background: none;
    margin: 0;
  }
}
.inner-top{
  background: #4849D7;
  @media(min-width:$tablet){
  background: linear-gradient(to left, #FCE373 0%, #FCE373 50%, #4849D7 50%, #4849D7 100%);
}
}
.inner__container{
  padding: 15px;
  @media(min-width:$tablet){
    max-width: 1440px;
    margin: 0 auto;
    background: url("/images/rectangle_yellow.svg")  #4849D7;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 0;
  }
}
.inner__header{
  padding-top: 30px;
  @media(min-width:$tablet){
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 0 60px;
    .slider{
      margin: 40px 0 0 0;
    }
  }
}
.slider__wrap{
  margin-bottom: 0;
}

.form__wrap{
  @media(min-width:$tablet){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+50,7db9e8+100 */
background: #FCE373; /* Old browsers */
background: -moz-linear-gradient(left, #FCE373 0%, #FCE373 50%, #4849D7 50%, #4849D7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #FCE373 0%,#FCE373 50%,#4849D7 50%,#4849D7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #FCE373 0%,#FCE373 50%,#4849D7 50%,#4849D7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4849D7', endColorstr='#4849D7',GradientType=1 ); /* IE6-9 */
 }
}
.form__container{
  width: 100%;
  @media(min-width:$tablet){
  display:flex;
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;

  }
}
.form__left{
  background:  #FCE373;
  padding:30px;
  @media(min-width:$tablet){
  width:calc(66% - 30px);
  margin: 0 15px;
  padding:0 40px;
}
}
.form__right{
  background:  #4849D7;
  padding:30px;
  @media(min-width:$tablet){
  margin: 0 15px;
  width:calc(34% - 30px);
  padding:0;
}
}
.back{
  display: flex;
  align-items:center;
  font-family:$ffm-reg;
  font-size:18px;
  svg{
    margin-right: 5px;
  }
    @media(min-width:$desctop){
      position:absolute;
      top: -51px;
      left:-30px;
  }
}
.form__content{
  position:relative;
  @media(min-width:$desctop){
  max-width: 700px;
  margin-top: 120px;
  margin-bottom:40px;
  }
}
.form__text{
  font-size: 18px;
  max-width: 500px;
  margin:30px 0 84px 0;
  font-family: $ffm-reg;
}
fieldset{
  border:none;
  outline:none;
  padding:0;
  margin: 20px 0;
  &>a{
    text-decoration:underline;
    font-size: 14px;
    display: block;
    @media(min-width:$desctop){
    position: absolute;
    bottom: 0;
    right: 0;
  }
    &:hover{
      text-decoration: none;
      border-bottom: none;
    }
  }
  @media(min-width:$desctop){
    max-width:416px;
    position:relative;
  }
}

.form__fields{
  max-width:100%;
  label{
    display: block;
    font-family: $f-reg;
    @media(min-width:$desctop){
    }
  }
  input[type="password"], input[type="text"]{
    border:none;
    width: 100%;
    max-width:300px;
    height: 50px;
    margin: 10px 0;
    padding: 22px;
    @media(min-width:$tablet){
    width:416px;
    max-width:416px;
    height: 64px;
    margin: 9px 0 20px 0
    }
  }
  input[type="submit"]{
  border:none;
  width: 100%;
  max-width:300px;
  height: 50px;
  margin: 10px 0;
  background: #F93877;
  box-shadow: 3px, 0px, 1px rgba(0, 0, 0, 0.4);
  color:#ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  @media(min-width:$tablet){
    width:416px;
    max-width:416px;
    height: 64px;
    margin: 20px 0;
   }
  }
  input[type="submit"].small__btn{
    width: 100%;
    max-width:300px;
    height: 50px;
    @media(min-width:$tablet){
      max-width:304px;
      height: 64px;
      margin-right:20px;
    }
  }
  input[type="reset"]{
    width: 100%;
    max-width:300px;
    height: 50px;
    background: #FCE373;
    border: 1px solid #F93877;
    color: #F93877;
    @media(min-width:$tablet){
      max-width:304px;
      height: 64px;
    }
  }
  input[type="radio"]{
    position:absolute;
    visibility: hidden;
    &+label{
      position:relative;
      padding-left:36px;
      margin-right: 20px;
      &:before{
        content: '';
        position:absolute;
        left: 0;
        top: -7px;
        width:32px;
        height:32px;
        background: #ffffff;
        border-radius:50%;
      }
    }
  }
  input[type="radio"]:checked{
      &+label{
        &:after{
          content: '';
          position:absolute;
          left: 7px;
          width:18px;
          height:18px;
          background: #F93877;
          border-radius:50%;
          top: 0;
        }
      }
  }
  :-ms-input-placeholder{
    color:#7A7A7A;
    opacity: 1;
  }
  ::-webkit-input-placeholder{
    color:#7A7A7A;
    opacity: 1;
  }
  :-moz-input-placeholder{
    color:#7A7A7A;
    opacity: 1;
  }

}

.form__right{
  color:#FFFFFF;
  p, a{
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    font-family: $f-reg;
    border-bottom:0;
  }
  a.bordered{
    text-decoration:underline;
  &:hover{
    text-decoration:none;
  }
}
a{
  margin: 10px 0;
}
}
.form_contacts{
    display:flex;
    flex-direction:column;
}
.form__information{
  font-size:24px;
  line-height: 45px;
  font-family:$ffm-reg;
}
input[type="checkbox"]{
  visibility:hidden;
  position:absolute;
  &+label{
    position: relative;
    padding-left:45px;
    line-height: 35px;
    cursor: pointer;
    @media(min-width: $desctop){
    width: 500px;
  }
    a{
      border-bottom: 1px solid;
    }
    a:hover, a:focus, a:active{
      border-bottom:none;
    }
  &:before{
    content:"";
    position:absolute;
    left:0;
    top:10px;
    background: #FFFFFF;
    border-radius: 2px;
    width:32px;
    height:32px;
  }
 }
 &:checked{
   &+label{
    &:after{
      content: "";
      border-bottom: 2px solid #F93877;
      border-right: 2px solid #F93877;
      transform: rotate(45deg);
      width: 11px;
      height:19px;
      position: absolute;
      left:10px;
      top:10px;
    }
   }
 }
}
.form__flex{
  display:flex;
  align-items:baseline;
  a {
    margin-left:20px;
  }
  @media(min-width: $desctop){
    max-width:406px;
    justify-content: space-between;
  }
}
.form__flex-full, fieldset.form__flex-full{
  display:flex;
  align-items:baseline;
  flex-wrap: wrap;
  a {
    margin-left:20px;
  }
  @media(min-width: $desctop){
    max-width: 100%;
    flex-wrap: nowrap;
  }
}

.add{
  font-family:$f-reg;
  font-size:16px;
  color:#F93877;
  &:hover, &:active{
    border-color: #F93877;
  }
}
input[type="submit"].disabled{
  background: #F2F2F2;
  color: #BDBDBD;
}
input[type="file"]{
  position:absolute;
  visibility:hidden;
}
label.file{
  cursor:pointer;
  border-bottom: dotted 1px;
  display: inline;
}
.form__fields input.error{
  border: #FF0000 1px solid;
}
.error__text{
  color: #FF0000;
  position:relative;
  padding-left: 16px;
  @media(min-width:$desctop){
  position:absolute;
  right: -175px;
  top: 50px;
}
  &:before{
    content: "";
    position:absolute;
    background: url("/images/error.svg");
    width:14px;
    height:16px;
    left:0;
    top:0;
  }
}
.form__select{
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 50px;
  border:none;
  outline:none;
  overflow:hidden;
  margin: 9px 0 20px 0;
  @media(min-width:$tablet){
    max-width: 416px;
    height: 64px;
  }
  select{
    width: calc(100% + 20px);
    max-width: 320px;
    height: 50px;
    cursor: pointer;
    padding-left:20px;
    position:relative;
    top: -1px;
    @media(min-width:$tablet){
      max-width: 450px;
      height: 66px;
    }
  }
  &:before{
    content:"";
    position:absolute;
    right:0;
    height: 30px;
    width:35px;
    background:#ffffff;
    z-index: 10;
    @media(min-width:$tablet){
      height: 64px;
    }
  }
  &:after{
    content:"";
    position:absolute;
    right:5px;
    top:26px;
    border: 8px solid transparent;
    border-top:8px solid #F93877;
    z-index: 20;
  }
}
.form__select.error{
  border: #FF0000 1px solid;
}
.form__fields textarea{
  width: 100%;
  max-width: 300px;
  height: 120px;
  border:none;
  outline:none;
  margin: 9px 0 20px 0;
  padding:20px;
  @media(min-width:$tablet){
    max-width: 416px;
    height: 120px;
  }
}
.form__radio{
  margin: 20px 0;
}
.result__form{
  margin-top: 40px;
}
.result__head{
  position:relative;
  padding-bottom:40px;
  border-bottom: 1px solid #E9CD50;
  span{
    position:absolute;
    bottom: 10px;
    font-size: 14px;
  }
}
.result__name{
  font-family: $ffm-reg;
  font-size: 24px;
}
.result__row{
  margin: 20px 0;
  @media(min-width: $desctop){
    display: flex;
  }
}
.result__col{
  &:first-of-type{
    font-size:14px;
    width: 240px;
    margin-right:20px;
  }
  &:nth-of-type(2){
    font-size: 18px;
    font-family: $ffm-reg;
    @media(min-width: $desctop){
    width: 420px;
  }
  }
}

.result__link{
  color: #F93877;
  display: block;
  text-decoration: underline;
  margin: 8px 0;
  &:hover{
    text-decoration: none;
    border-bottom: none;
  }
}
.result__nomination{
  font-size: 20px;
  font-family: $ffm-reg;
}
.form__password{
  position: relative
}
.password__icon{
  position:absolute;
  right:15px;
  top: 32px;
}
.about__wrap{
  @media(min-width:$desctop){
  background: linear-gradient(to left, #ffffff 0%, #ffffff 50%, #FCE373 50%, #FCE373 100%);
}
}
.about__container{
  @media(min-width:$middle){
    display: flex;
  }
  @media(min-width:$desctop){
  max-width: 1440px;
  margin: 0 auto;
}
}
.about__left{
  background: #FCE373;
  position:relative;
  z-index:10;
  font-family: $ffm-reg;
  font-size: 18px;
  @media(min-width:$desctop){
    width: 25%;
    padding: 100px 0;
  }
}
.about__right{
  background: #ffffff;
  position:relative;
  z-index:10;
  padding: 15px;
  @media(min-width:$desctop){
    width: 75%;
    padding: 100px 0  0 106px;
  }
}
.about__ancors{
  display:flex;
  flex-direction:column;
  position:relative;
}
.about__ancor{
  text-align: center;
  line-height:30px;
  margin: 20px auto;
  svg, figcaption{
    display: block;
    position:relative;
    margin: 20px auto;
  }
}
.content{
  @media(min-width:$desctop){
    max-width: 750px;
  }
}
.about__wrap{
  h1{
    @media(min-width:$desctop){
    font-family:$ffm-bold;
    margin: 40px 0;
    font-size: 84px;
  }
  }
  P{
    font-family: $f-reg;
    font-size: 18px;
    @media(min-width:$tablet){
    line-height: 35px;
    margin: 40px 0;
  }
  }
}
  .video__wrap{
    position: relative;
    padding-top: 56.25%;
    height: 0;
    margin: 10px auto;
    iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  }
}

.container-small{
  padding: 0 15px;
  @media(min-width:$desctop){
    max-width: 1090px;
    margin: 0 auto;
    position: relative;
    padding: 0;
  }
}
.nomination{
  margin-bottom: 155px;
}
.nomination__about{
  display: flex;
}
.nomination__pick{
  margin-right: 40px;
}

.nomination__title{
  font-family:$ffm-reg;
  font-size: 40px;
  line-height: 59px;
  text-decoration:underline;
  max-width:500px;
}
.nomination__description{
  font-family: $f-reg;
  font-size: 18px;
  line-height: 35px;
  margin: 17px 0;
}
.nomination__jury{
  background: url("/images/decor_bg.png");
  background-position: left 50%;
  padding: 16px 0 16px 81px;
  background-repeat:no-repeat;
  margin: 20px 0;
  background-size: contain;
}
.jury__text{
  padding: 30px;
  position: relative;
  background: $notImportantBg;
  background-position: left center;
  background-repeat:no-repeat;
  span{
    color: #7A7A7A;
  }
  .jury__name{
    font-size: 24px;
    line-height:39px;
    margin: 20px 0;
    font-family:$ffm-reg;
  }
  p{
    font-size: 18px;
    line-height:35px;
  }
}
.program__head{
  display:flex;
  align-items: baseline;
  h1{
    margin-right: 60px;
  }
}
.program__link{
  color: #F93877;
  border-bottom: 1px solid #F93877;
  &:hover{
    border-bottom: 0;
    text-decoration: none;
  }
}
.program__title{
  font-size: 36px;
  font-family: $ffm-reg;
    margin: 20px 0;
}
.program__wrap{
  margin-bottom: 100px;
}
.program__row{
  border-top: 1px solid #E9E9EA;
  padding: 20px 0;
  @media(min-width: $tablet){
      display: flex;
  }
}
.program__cell{
  @media(min-width: $tablet){
  &:first-of-type{
    width: 60%;
    padding-right: 10%;
  }
  &:nth-of-type(2){
    width: 40%;
  }
}
}
.program__time{
  color: #353535;
  line-height: 34px;
}
.program__event{
  font-size: 22px;
  font-family:$ffm-reg;
  line-height: 41px;
}
.program__address{
  line-height: 30px;
}
.program__filter{
  margin: 40px 0;
}
.program__select{
  position: relative;
  width: 100%;
  height: 30px;
  border: 1px solid #E9E9EA;
  outline: none;
  overflow: hidden;
  @media(min-width:$desctop){
    width: 416px;
    height: 64px;
  }
  &:before{
    content: "";
    position: absolute;
    right: 0;
    height: 30px;
    width: 35px;
    background: #ffffff;
    z-index: 10;
    @media(min-width:$desctop){
      height: 64px;
    }
  }
  &:after{
    content: "";
    position: absolute;
    right: 5px;
    top: 26px;
    border: 8px solid transparent;
    border-top: 8px solid #F93877;
    z-index: 20;
  }
  select{
    width: calc(100% + 20px);
    max-width: 320px;
    height: 50px;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    top: -1px;
    left: -1px;
    @media(min-width:$desctop){
    max-width: 450px;
    height: 66px;
    }
  }
}
.program__nomination{
  margin: 20px 0;
  color: #7A7A7A;
  font-size: 24px;
  font-family:$ffm-reg;
}
.result__wrap{
  margin: 100px 0;
}
.result__nomination{
  line-height: 68px;
  font-size: 36px;
  font-family:$ffm-reg;
  margin: 45px 0;
}
.result__group__name{
  font-family:$ffm-reg;
  line-height: 38px;
  font-size: 20px;
  margin: 19px 0;
}
.result__group{
  border-top: 1px solid #E9E9EA;
}
.result__position{
  margin: 40px 0;
}
.result__place{
  font-family:$ffm-reg;
  color: #4849D7;
  line-height: 38px;
  font-size: 18px;
}
.result__city{
  line-height: 35px;
  font-size: 18px;
}
.result__group__special{
  margin:20px 0;
  line-height: 34px;
  font-size: 18px;
  font-family:$ffm-reg;
}
.detailnom__header{
  display: flex;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}
.detailnom__left{
  width: 66%;
  background: #4849D7;
  position:relative;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 70px;
}
.detailnom__right{
  width: 34%;
  background: #4849D7 url("/images/rectangle_1.svg");
  padding-right: 60px;
  padding-top: 60px;
  position: relative;
  svg{
    float: right;
  }
}
.detailnom__descript{
  padding-left: 8%;
}
.detailnom__title{
  font-size: 84px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.detailnom__text{
  max-width: 500px;
  color: #FFFFFF;
  margin-top:40px;
  line-height: 35px;
}
.detailnom__back{
  margin-bottom: 40px;
  a{
  color: #FFFFFF;
}
}
.detailnom__card{
  background: #EBFDFF;
  width: 560px;
  height: 256px;
  position: absolute;
  bottom: -38px;
  z-index: 100;
  left: -268px;
}
.block__blue{
  background:#EBFDFF;
  margin-left: -106px;
  padding-top: 113px;
  padding-bottom: 113px;
  padding-left: 106px;
}
.detailnom__h2{
  font-size: 40px;
  font-family: $ffm-reg;
  margin:0;
}
.detailnom__section{
  margin: 40px 0 40px 50px;
  p{
    margin: 5px 0;
  }
}
.detailnom__list{
  font-family: $ffm-reg;
  line-height: 45px;
  font-size: 24px;
  position: relative;
  span{
    text-decoration: underline;
  }
  &:before{
    content: attr(data-number);
      margin-left: -50px;
      margin-right: 20px;
  }
}
.detailnom__strong{
  line-height: 38px;
  font-size: 20px;
  font-family: $ffm-reg;
  margin: 22px 0;
}
.detailnom__strong{
  font-family: $ffm-reg;
  line-height: 38px;
  font-size: 20px;
}
.detailnom__name{
  font-family: $ffm-reg;
  font-weight: normal;
  line-height: 38px;
  font-size: 18px;
}
.detailnom__ol{
  padding-left: 20px;
}
.detailnom__li{
  line-height: 35px;
  font-size: 18px;
}
.detailnom__ul{
  &>.detailnom__li{
    margin-bottom: 54px;
  }
}
.member__wrap{
  margin-top: 57px;
}
.member__block{
  margin-bottom: 30px;
  max-width: 450px;
  position: relative;
  padding: 30px;
  &:nth-of-type(odd){
    margin-right: 350px;
  }
  &:nth-of-type(even){
    margin-left: 350px;
  }
}
.member__block-full{
  margin-bottom: 30px;
  position: relative;
  display:flex;
}
.member__pick-full{
    &:after{
      content: "";
      background: #FCE373;
      width: 88px;
      height: 64px;
      position: absolute;
    }
}

.member__pick{
  position: absolute;
  top: 8px;
  left: 0px;
  img, svg{
    position: relative;
    z-index: 10;
  }
  &:after{
    content: "";
    background: #FCE373;
    width: 88px;
    height: 64px;
    position: absolute;
    left: 20px;
    top: 0;
    z-index:1;
  }
}
.member__title{
  font-size: 24px;
  font-family: $ffm-reg;
  line-height: 39px;
  position: relative;
  z-index:20;
  margin-left:30px;
  margin-bottom: 20px;
}
.member__text{
  margin-left:30px;
  position:relative;
  z-index: 20;
}
.banner__wrap{
  background: linear-gradient(to left, #FCE373 0%, #FCE373 50%, #4849D7 50%, #4849D7 100%);
}
.banner__section{
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}
.banner__left{
  width: 59%;
  background: #4849D7;
  position: relative;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 70px;
}
.banner__right{
  width: 41%;
  background: #4849D7 url("/images/rectangle_1.svg");
  padding-right: 60px;
  padding-top: 60px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.back_link{
  svg{
    margin-right: 14px;
  }
  color: #FFFFFF;
}
.banner{
  padding-top: 110px;
.back_link{
    position:absolute;
    top: 100px;
    left: 0;
  }
}
.next_link{
  color:#FCE373;
  font-size: 40px;
  font-family: $ffm-reg;
  max-width: 419px;
  display: block;
  span{
    display: block;
  }
}
.commitet__header{
  max-width: 1440px;
  position:relative;
  margin: 0 auto;
  display: flex;
}
.commitet__left{
  width: 75%;
  background: #4849D7;
  padding-top:120px;
  padding-bottom:120px;
  padding-left: 8%;
  padding-right: 8%;
}
.commitet__right{
  width: 25%;
  background: #FCE373;
  text-align:center;
  padding-top:120px;
  padding-bottom:120px;
}
h1.commitet__h1{
  font-size: 84px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.commitet__contacts{
  p{
  font-size: 24px;
  font-family: $ffm-reg;
}
  a{
    display:block;
    margin: 27px 0;
  }
}
