//colors
$regularText: #262626;
$curentLink: #BDBDBD;
$bgColor: #4849D7;
$simpleColor: #FFFFFF;
$decorateColor: #F93877;
$bgDecorate: #FCE373;
$notImportant: #7A7A7A;
$notImportantBg: #EBFDFF;
//font
$h1: 52px/67px 'loraBold', Arial, Verdana, sans-serif;
$f-button: 17px/24px 'gothamproMedium', Arial, Verdana, sans-serif;
$f-big:  28px/38px 'gothamproMedium', Arial, Verdana, sans-serif;
$f-reg: 'gothamproRegular', Arial, Verdana, sans-serif;
$fsz-std: 16px;
$fsz-small: 14px;
$ffm-reg: 'gothamproMedium', Arial, Verdana, sans-serif;
$ffm-bold: 'gothamproBold', Arial, Verdana, sans-serif;
//resolution
$middle: 540px;
$tablet: 1220px;
$desctop: 1440px;
