mixin share()
  .share__wrap
    .share__item Поделиться:
    .share__item
      a#share(href="#") Вконтакте
    .share__item
      a#share(href="#") Фейсбук
    .share__item
      a#share(href="#") Твиттер
