mixin footer()
  footer.footer
    .container-small
      .footer__nav
        ul.footer__column
          li.footer__column__item
            a(href="#") Партнёры
          li.footer__column__item
            a(href="#") Новости
          li.footer__column__item
            a(href="#") Контакты
        ul.footer__column
          li.footer__column__item
            a(href="#") Парадельфийские игры
          li.footer__column__item
            a(href="#") Национальный Парадельфийский комитет России
          li.footer__column__item
            a(href="#") Положение о парадельфийских играх
      .footer__copyright
        ul.footer__copyright__items
          li.footer__copyright__item.
            Международные Парадельфийские игры 2018
          li.footer__copyright__item Сделано в
            a(href="#") &nbsp;Picom
