mixin openmenu()
  .openmenu__wrap
    .container-small
      ul.openmenu__list
        li.openmenu__link.openmenu__link-current
          a(href="#") Положение
        li.openmenu__link
          a(href="#") Об играх
        li.openmenu__link
          a(href="#") Номинации
        li.openmenu__link
          a(href="#") Программа
        li.openmenu__link
          a(href="#") Результаты
