mixin openmenu()
  .openmenu__wrap
    .container-small
      ul.openmenu__list
        li.openmenu__link.openmenu__link-current
          a(href="regulations.html") Положение
        li.openmenu__link
          a(href="about.html") Об играх
        li.openmenu__link
          a(href="nomination.html") Номинации
        li.openmenu__link
          a(href="program.html") Программа
        li.openmenu__link
          a(href="result.html") Результаты
