.tab__list{
  display:flex;
  margin-left:60px;
  font-family: $ffm-reg;
  font-size: 20px;
}
.tab__link{
  list-style: none;
  margin-left:60px;
  color: $decorateColor;
  font-family: $ffm-reg;
  cursor: pointer;
}
.tab__link.tab__current{
  color:  $regularText;
}
.tab__items{
  display:flex;
  background: $bgDecorate; /* Old browsers */
  background: -moz-linear-gradient(left, $bgDecorate 0%, $bgDecorate 39%, $simpleColor 39%, $simpleColor 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $bgDecorate 0%, $bgDecorate 39%, $simpleColor 39%, $simpleColor 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $bgDecorate 0%, $bgDecorate 39%, $simpleColor 39%, $simpleColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bgDecorate', endColorstr='$simpleColor',GradientType=1 ); /* IE6-9 */
}
.tab__item{
  display:none;
  opacity:0;
  transition: opacity .3s;
}
.tab__item.tab__item-current{
  display:block;
  opacity:1;
  display:flex;
  width:100%;
}
.tab__colum-right{
  background: $simpleColor;
  width:100%;
  margin: -30px;
  width: calc(75% - 30px);
  padding: 90px 120px;
}
.tab__colum-left{
  background: $bgDecorate;
  margin: -30px 15px 0 30px;
  width: calc(25% - 30px);
  padding: 90px 48px 0 0;
}
.tab__ancors{
  display:flex;
  flex-direction:column;
  position:relative;
}
.tab__ancor{
  text-align: center;
  line-height:30px;
  margin: 20px auto;
  svg, figcaption{
    display: block;
    position:relative;
    margin: 20px auto;
  }
}
.nomination{
  margin-bottom: 155px;
}
.nomination__about{
  display: flex;
}
.nomination__pick{
  margin-right: 40px;
}

.nomination__title{
  font-family:$ffm-reg;
  font-size: 40px;
  line-height: 59px;
  text-decoration:underline;
  max-width:500px;
}
.nomination__description{
  font-family: $f-reg;
  font-size: 18px;
  line-height: 35px;
  margin: 17px 0;
}
.nomination__jury{
  background: url("/images/decor_bg.png");
  background-position: left 50%;
  padding: 16px 0 16px 81px;
  background-repeat:no-repeat;
  margin: 20px 0;
  background-size: contain;
}
.jury__text{
  padding: 30px;
  position: relative;
  background: $notImportantBg;
  background-position: left center;
  background-repeat:no-repeat;
  span{
    color: #7A7A7A;
  }
  .jury__name{
    font-size: 24px;
    line-height:39px;
    margin: 20px 0;
  }
  p{
    font-size: 18px;
    line-height:35px;
  }
}
.table__title{
  font-family: $ffm-reg;
  font-size: 36px;
}
.table__cell{
  padding: 25px 0;
}
.table__row{
  display:flex;
  font-family:$f-reg;
  font-size: 16px;
  border-top: 1px solid #E9E9EA;
  border-bottom: 1px solid #E9E9EA;
}
.table__time{
  color: #353535;
}
.table__event{
  font-family:$f-big;
  font-size: 22px;
  line-height:41px;
}
.table__address{
  line-height:30px;
}
