mixin tabs()
  .tab__wrap
    .container
      ul.tab__list#tabsMenu
        li.tab__link Положение
        li.tab__link Об играх
        li.tab__link Номинации
        li.tab__link Программа
        li.tab__link Результаты
    .container
      .tab__items#tabsItem
        .tab__item
        .tab__item
        .tab__item
        .tab__item
        .tab__item
