.mainmenu__title{
  color:$curentLink;
  font-size:17px;
  text-transform: uppercase;
  margin-top:15px;
  @media(min-width:$desctop){
    position:absolute;
    left: 32px;
    top: 50px;
    transform: rotate(270deg);
  }
}
.mainmenu__links{
  margin-top: 8px;
  padding:0;
  @media(min-width:$middle){
  display: flex;
  flex-wrap: wrap;
}
  @media(min-width:$tablet){
      display:block;
      margin-left: 64px;
  }
  li{
    list-style:none;
      margin-bottom: 20px;
      @media(min-width:$middle){
        margin-right:30px;
      }
    @media(min-width:$desctop){
      margin-bottom: 40px;
      margin-right: 0;
    }

  }
  a{
    color: $regularText;
    text-decoration:none;
    border: none;
      @media(min-width:$tablet){
        font: $f-big;
      }
  }
}
body.menuopen{
  .bg{
    background: none;
  }
  .mainmenu{
    display:block;
  }
  .menuhide{
    display: block;
  }
  .menuopen{
    display:none
  }
}
.menuhide{
  display:none
}
.menuopen{
  display: block;
}
