mixin mainmenu()
  .mainmenu
    .mainmenu__title меню
    ul.mainmenu__links
      li
        a(href="about.html") Вторые Международные Парадельфийские игры 2018 года, Ижевск, Удмуртия
      li
        a(href="paradelf.html") Парадельфийские игры
      li
        a(href="commitet.html") Национальный Парадельфийский комитет России
      li
        a(href="news.html") Новости
      li
        a(href="#") Партнёры
      li
        a(href="contact.html") Контакты
