.map__wrap {
  width: 100%;
  margin: 50px auto;
}

@media (min-width: 540px) {
  .map__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 710px;
  }
}

.map__container {
  position: relative;
  padding-top: 150%;
}

@media (min-width: 540px) {
  .map__container {
    width: 50%;
  }
}

.map__container #map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.map__list {
  max-height: 695px;
}



.map__h3 {
  font-family: "gothamproMedium", Arial, Verdana, sans-serif;
  font-size: 22px;
  margin: 15px;
}

.map__item {
  list-style: none;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: border .2s, background .2s;
  transition: border .2s, background .2s;
  border: 2px solid transparent;
}

.map__list {
  border: 1px solid #E9E9EA;
  padding: 15px;
}
@media (min-width: 540px) {
  .map__list {
    padding: 15px 15px 0 15px;
    width: 50%;
  }
}

.map__place {
  line-height: 30px;
  font-size: 18px;
  font-family: "gothamproMedium", Arial, Verdana, sans-serif;
  display: block;
}

.map__text {
  line-height: 30px;
  font-size: 16px;
}

.map__item-active, .map__item:hover {
  background: #EBFDFF;
  border: 2px solid #F93877;
  padding: 15px;
}
