mixin map()
  h2 Места проведения
  .map__wrap
    .map__list
      h3.map__h3 15 мест проведения
      ul.map__ul
        li.map__item.map__item-active
          span.map__place БУ УР «Дом дружбы народов», г. Ижевск, улица Орджоникидзе, 33А
          span.map__text Деловая программа, рабочая площадка, музыкально-литературная гостиная П.И. Чайковского
        li.map__item
          span.map__place АУК УР «Государственный цирк Удмуртии», г. Ижевск, ул. Красноармейская, 136
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
        li.map__item
          span.map__place АУК УР «Государственный русский драматический театр Удмуртии», г. Ижевск, ул. М. Горького, 71
          span.map__text Открытие и закрытие. Рабочая площадка
    .map__container
      #map(width="100%", height="100%")
