script(src="scripts/query-3.3.1.min.js")
script(src="scripts/init.js")
script(src="scripts/owl.carousel.min.js")
script(src="scripts/sisyphus.min.js")
script(src="scripts/jquery.custom-scroll.min.js")
script(src="scripts/jquery.simple-scroll-follow.2.0.1.js")
script(src="scripts/jquery.magnific-popup.min.js")
