link(rel="stylesheet" href="styles/main.css")
link(rel="stylesheet" href="styles/owl.carousel.min.css")
link(rel="stylesheet" href="styles/owl.theme.default.min.css")
link(rel="stylesheet" href="styles/jquery.custom-scroll.css")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
