link(rel="stylesheet" href="styles/main.css")
link(rel="stylesheet" href="styles/owl.carousel.min.css")
link(rel="stylesheet" href="styles/owl.theme.default.min.css")
link(rel="stylesheet" href="styles/jquery.custom-scroll.css")
link(rel="stylesheet" href="styles/blind.css")
link(rel="stylesheet" href="styles/magnific-popup.css")
<!--[if lt IE 10]>
  p(style="color:black") чтобы зарегистрироваться отправьте анкету
<![endif]-->
