mixin partners()
  .partners__wrap
    .partners__container
      .partners__title При поддержке
      .partners__carousel.owl-carousel
        .partners__item
          img(src="/assets/logo1.png")
        .partners__item
          img(src="/assets/logo2.png")
        .partners__item
          img(src="/assets/logo3.png")
        .partners__item
          img(src="/assets/logo4.png")
        .partners__item
          img(src="/assets/logo5.png")
        .partners__item
          img(src="/assets/logo5.png")
        .partners__item
          img(src="/assets/logo5.png")
