mixin partners()
  .partners__container
    .partners__title При поддержке
    .partners__carousel
      .partners__carousel__item
        img(src="/assets/logo1.png")
      .partners__carousel__item
        img(src="/assets/logo2.png")
      .partners__carousel__item
        img(src="/assets/logo3.png")
      .partners__carousel__item
        img(src="/assets/logo4.png")
      .partners__carousel__item
        img(src="/assets/logo5.png")
