.button{
  position: relative;
  @media(min-width:$desctop){
    margin-left: 12px;
    margin-top: 12px;
  }
}
.send{
  font:$f-button;
  color: $simpleColor;
  background: $decorateColor;
  border:none;
  padding: 17px 20px;
  display: block;
  max-width: 277px;
  margin: 0 auto;
  &:hover{
    text-decoration: none;
    border-bottom: none;
  }
}
.button__inner{
  .button{
    margin: 20px auto;
  }
  @media(min-width:$tablet){
    display: flex;
    .date{
      margin-right: 30px;
    }
  }

}
