.news{
  background:#EBFDFF;
}
.news__head{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.news__detail__link{
  color: #F93877;
  font-size: 14px;
  text-transform: uppercase;
  display:flex;
  align-content: flex-end;
  &:hover{
    text-decoration: none;
  }
  svg{
    margin-top:5px;
  }
  span{
    margin-right: 17px;
  }
}
.news__row{
  @media(min-width:$middle){
    display: flex;
    flex-wrap:wrap;
  }
    @media(min-width:$desctop){
      margin: 0 -15px;
    }
}
.news__item{
  @media(min-width:$middle){
    width: calc(50% - 30px);
    margin: 30px 15px;
  }
}
.news__img{
  max-width: 100%;
  img{
    max-width: 100%;
  }
}
.news__date{
  margin: 20px 0;
  color: #7A7A7A;
}
.news__title{
  margin: 20px 0;
  font-family: $ffm-reg;
  font-size: 24px;
}
.news__anons{
  line-height: 31px;
  margin: 10px 0;
}
.news__link{
  color: #F93877;
  border-bottom: 3px solid #F93877;
  font-size: 14px;
  &:hover{
    text-decoration: none;
  }
}
