.news{
  background:#EBFDFF;
}
.news__row{
  @media(min-width:$middle){
    display: flex;
    flex-wrap:wrap;
    margin: 0 -15px;
    justify-content: center;
  }
}
.news__item{
  @media(min-width:$middle){
    width: calc(50% - 30px);
    margin: 30px 15px;
  }
}

.news__img{
  max-width: 100%;
  img{
    max-width: 100%;
  }
}
.news__date{
  margin: 20px 0;
  color: #7A7A7A;
}
.news__title{
  margin: 20px 0;
  font-family: $ffm-reg;
  font-size: 24px;
}
.news__anons{
  line-height: 31px;
  margin: 10px 0;
}
.news__link{
  color: #F93877;
  text-decoration: underline;
  font-size: 14px;
  &:hover{
    text-decoration: none;
  }
}
