mixin news()
  .news
    .container-small
      .news__head
        .h1 Новости
        svg(role='img', width='192', height='14')
          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#arrow_news')
      .news__row
        .news__item
          .news__img
            img(src="/assets/image.png")
          .news__date 13 апреля 2018
          .news__title Зимняя школа инклюзивного танца
          .news__anons С 9 по 16 января 2018 года в Доме отдыха «Ершово» в рамках VI Международного благотворительного танцевального фестиваля «Inclusive Dance» состоится зимняя Школа инклюзивного танца (ШИТ).
          a(href="#").news__link Читать полностью
        .news__item
          .news__img
            img(src="/assets/image2.png")
          .news__date 13 апреля 2018
          .news__title Зимняя школа инклюзивного танца
          .news__anons С 9 по 16 января 2018 года в Доме отдыха «Ершово» в рамках VI Международного благотворительного танцевального фестиваля «Inclusive Dance» состоится зимняя Школа инклюзивного танца (ШИТ).
          a(href="#").news__link Читать полностью
        .news__item
          .news__img
            img(src="/assets/image.png")
          .news__date 13 апреля 2018
          .news__title Зимняя школа инклюзивного танца
          .news__anons С 9 по 16 января 2018 года в Доме отдыха «Ершово» в рамках VI Международного благотворительного танцевального фестиваля «Inclusive Dance» состоится зимняя Школа инклюзивного танца (ШИТ).
          a(href="#").news__link Читать полностью
        .news__item
          .news__img
            img(src="/assets/image2.png")
          .news__date 13 апреля 2018
          .news__title Зимняя школа инклюзивного танца
          .news__anons С 9 по 16 января 2018 года в Доме отдыха «Ершово» в рамках VI Международного благотворительного танцевального фестиваля «Inclusive Dance» состоится зимняя Школа инклюзивного танца (ШИТ).
          a(href="#").news__link Читать полностью
