include ../_modules/headerinner/headerinner
include ../_modules/slider/slider
include ../_modules/date/date
include ../_modules/date/date
include ../_modules/button/button
include ../_modules/contacts/contacts
include ../_modules/mainmenu/mainmenu
include ../_modules/low_vision/low_vision
include ../_modules/date/date
include ../_modules/button/button
include ../_modules/contacts/contacts
include ../_modules/description/description

doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    include ../_includes/svg

  body
    +low_vision()
    header.header
      +headerinner()
    block content
    .hidden__menu
      section.section-top
        .container
          .row
            .col-7
              +mainmenu()
            .col-5
              .right__block
                .slider
                  +slider()
                .flex.button__counter
                  +date()
                  .button
                    +button()
    include ../_includes/scripts
