include ../_modules/headerinner/headerinner

doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    include ../_includes/svg

  body
    header.header
      +headerinner()
    block content
