include ../_modules/headerinner/headerinner
include ../_modules/partners/partners
include ../_modules/footer/footer

doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    include ../_includes/svg

  body
    header.header
      +headerinner()
    block content
    +partners()
    +footer()
    include ../_includes/scripts
