include ../_modules/headerinner/headerinner
include ../_modules/description/description
include ../_modules/slider/slider
include ../_modules/date/date
include ../_modules/button/button

doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    include ../_includes/svg

  body
    .header
      +headerinner()
      section.section-top.inner-top
        .container
          .row
            .col-7.col-md-5
              +description()
              .flex.button__inner
                +date()
                .button
                  +button()
            .col-5.col-md-7
              .right__block
                .slider
                  +slider()
      block content
    include ../_includes/scripts
