include ../_modules/headerinner/headerinner
include ../_modules/description/description
include ../_modules/slider/slider
include ../_modules/date/date
include ../_modules/button/button
include ../_modules/partners/partners
include ../_modules/footer/footer
include ../_modules/header/header
include ../_modules/mainmenu/mainmenu
include ../_modules/slider/slider
include ../_modules/date/date
include ../_modules/button/button
include ../_modules/contacts/contacts
include ../_modules/description/description

doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    include ../_includes/svg

  body
    header.header
      +headerinner()
    section.section-top.inner-top
      .inner__container
        .inner__header
          .description
            +description()
            .button__inner
              +date()
              +button()
          .slider
            +slider()
    block content
    +partners()
    +footer()
    .hidden__menu
      section.section-top
        .container
          .row
            .col-7
              +mainmenu()
            .col-5
              .right__block
                .slider
                  +slider()
                .flex.button__counter
                  +date()
                  .button
                    +button()
    include ../_includes/scripts
