include ../_modules/header/header
include ../_modules/mainmenu/mainmenu
include ../_modules/slider/slider
include ../_modules/date/date
include ../_modules/button/button
include ../_modules/contacts/contacts

doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    include ../_includes/svg

  body
    header.header
      +header()
    main.container
      .row
        .mainmenu.col-7
          +mainmenu()
        .col-5
          .slider
            +slider()
          .flex
            .date
              +date()
            .button
              +button()
          .contacts
            +contacts()
    .angle
