include ../_modules/headertransless/headertransless
include ../_modules/low_vision/low_vision
doctype html
html.no-js(lang="ru")
  head
    include ../_includes/meta
    include ../_includes/styles
    include ../_includes/svg

  body
    +low_vision()
    header.header
      +headertransless()
    block content
    include ../_includes/scripts
