extends _layouts/inner
include _modules/openmenu/openmenu
include _modules/map/map
include _modules/share/share

block content
  +openmenu()
  .about__wrap
    .about__container
      .about__left
        .about__ancors
          .about__ancor
            figure
              svg(role='img', width='116', height='118')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#win')
              figcaption 29 номинаций в 8-ми видах искусств
          .about__ancor
            figure
              svg(role='img', width='126', height='106')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#udmgirl')
              figcaption Более 1500 участников
          .about__ancor
            figure
              svg(role='img', width='128', height='90')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#russia')
              figcaption Более 50 субъекта России
          .about__ancor
            figure
              svg(role='img', width='125', height='108')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#globous')
              figcaption 16 стран мира
      .about__right
        .content
          h1 Об играх
          p Вторые Международные Парадельфийские игры — инклюзивные состязания людей с инвалидностью в области высших достижений в искусстве — состоятся с 11 по 17 ноября 2018 года в городе Ижевске Удмуртской Республики.
          .video__wrap
            iframe(width="560" height="315" src="https://www.youtube.com/embed/iW2dgIzON5Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          p Игры проводятся Национальным Парадельфийским комитетом России и Правительством Удмуртской Республики. Игры поддерживаются как системное мероприятие Фондом президентских грантов, Министерством культуры Российской Федерации, депутатами Государственной Думы ФС РФ и общественными организациями инвалидов России и мира.
          p Игры пройдут с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.
          p Парадельфийские игры вызывают живой интерес не только в нашей стране, но и за рубежом. Представители инклюзивного творческого международного сообщества уже заявили о желание принять участие в Играх. Ожидаемое количество российских и зарубежных участников составит 1500-2000 человек.
          p Творческие состязания пройдут по 29-ти номинациям в 8-ми видах искусств: музыкальное, изобразительное, аудиовизуальное, театральное, хореографическое и цирковое искусство; литература (авторство) и жестовая песня.
          p Во время Игр предусмотрены масштабные церемонии открытия и закрытия Игр, гала-концерт лауреатов с участием звезд эстрады и видных деятелей культуры, деловая программа, семинары, мастер-классы, международная конференция, музыкальные гостиные, экскурсионные программы, знакомство с творчеством П. И. Чайковского, представление национальной культуры народов России и других стран.
          p В большинстве субъектов РФ при поддержке местных властей пройдут отборочные туры регионального этапа (до 15 мая 2018 г.) среди людей с инвалидностью и инклюзивных коллективов — победителей региональных всероссийских и международных конкурсов и фестивалей, а также формирование сборных команд для участия в финале Игр.
          p В непростой период развития международного олимпийского и паралимпийского движения Россия выступает инициатором нового международного проекта, способного объединить такой разный современный мир. Наша страна готова к совместному созиданию без политических акцентов и разногласий и открывает инклюзивную площадку для всех людей и всех стран мира без каких-либо ограничений.
        +map()
        +share()
