#formcontent
    h1 Заявка на участие1
    .form__text Во Вторых Международных Парадельфийских играх 2018 года в г. Ижевске Удмуртской Республики
    form.form__fields
        fieldset
            label(for="password") Пароль
            input(type="password" name="password" placeholder="Введите пароль" id="password")
            input(type="submit" name="send" value="Перейти к заявке")
            a(href="") Получить пароль на электронную почту