extends _layouts/detailnomination
include _modules/share/share
block content
    section.section-top.inner-top
        .commitet__header
            .commitet__left
                h1.commitet__h1 Национальный Парадельфийский комитет России
            .commitet__right
                .commitet__contacts
                    p Связаться с нами
                    a(href="tel:+74956515400") +7 (495) 651-54-00
                    a(href="mailto:mail@IDCworld.org") mail@IDCworld.org
                    a(href="www.IDCworld.org") www.IDCworld.org
    .about__wrap
        .about__container
            .about__left
                .about__ancors
                .about__ancor
                    a(href="#music") О комитете
                .about__ancor
                    a(href="#art") Цели комитета
                .about__ancor
                    a(href="#art") Руководство и правление
            .about__right
                .content
                    h2.commitet__h2 О комитете
                    p Общероссийский союз общественных объединений «Национальный Парадельфийский комитет России» (ОСОО «НПДК России») — является учредителем Парадельфийских игр.
                    p Общероссийский союз общественных объединений «Национальный Парадельфийский комитет России» (ОСОО «НПДК России») является добровольным общественным объединением юридических лиц — общественных организаций — созданным для достижения и реализации уставных целей, задач, защиты и развития Парадельфийского движения. ОСОО «НПДК России» создан в 2006 году Всероссийским обществом слепых при поддержке Национального Дельфийского совета России и в сотрудничестве с другими общероссийскими общественными организациями инвалидов.
                    p В соответствии со своими уставными целями ОСОО «НПДК России», действует на территориях субъектов Российской Федерации. Высшим руководящим органом ОСОО «НПДК России» (далее — Комитет) является Конференция, в перерывах между Конференциями Правление Комитета. Отчётно-выборная конференция Комитета созывается решением правления один раз в четыре года.
                    h2.commitet__h2 Основные цели комитета
                    p Развитие Парадельфийского движения с целью обеспечения реализации искусств и культуры;
                    p - реабилитация инвалидов средствами культуры и искусства, их интеграция в современное общество; межнациональное культурное сотрудничество и интеграция национальных культур народов Российской Федерации в общество, в том числе путём проведения Парадельфийских игр, участниками которых являются инвалиды;
                    p - участие в определении и реализации культурной политики государства в отношении инвалидов; 
                    p - взаимодействие с заинтересованными организациями по вопросам выработки мер, улучшающих положение инвалидов в обществе, обеспечение их прав на культурную и творческую деятельность, доступности культурных благ для инвалидов. Основная задача ОСОО «НПДК России» 
                    p – организация и проведение комплексных творческих соревнований для инвалидов всех нозологий по всевозможным и доступным видам искусств – Парадельфийских Игр.
                .block__blue
                    .content
                        h2.commitet__h2 Руководство и правление
                        .member__wrap
                            .member__block-full
                                .member__pick-full
                                    img(src="assets/commitet1.png")
                                .member__wrap
                                    .member__title Ольга Валерьевна Бокова
                                    .member__text Заслуженный работник культуры УР, зав отд. ф-но РМК.
                            .member__block-full   
                                .member__pick-full
                                    img(src="assets/commitet1.png")
                                .member__wrap    
                                    .member__title Ольга Валерьевна Бокова
                                    .member__text Заслуженный работник культуры УР, зав отд. ф-но РМК.
                            .member__block
                                .member__pick
                                    svg(role='img', width='54', height='64')
                                         use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#wo')
                                .member__title Ольга Валерьевна Бокова
                                .member__text Заслуженный работник культуры УР, зав отд. ф-но РМК.     
                            .member__block
                                .member__pick
                                    svg(role='img', width='54', height='64')
                                         use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#wo')
                                .member__title Ольга Валерьевна Бокова
                                .member__text Заслуженный работник культуры УР, зав отд. ф-но РМК.     
                                            