extends _layouts/detailnomination
include _modules/share/share
block content
  section.section-top.inner-top
    .detailnom__header
      .detailnom__left
        .detailnom__back
          a.back_link(href="nomination.html")
            svg(role='img', width='32', height='14')
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#arrow_back')
            span Назад к номинациям
        .detailnom__descript
          h1.detailnom__title Музыкальное искусство
          .detailnom__text Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
      .detailnom__right
        svg(role='img', width='305', height='265')
          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon3')
        .detailnom__card
          .jury__text
            span Руководитель рабочей группы жюри по номинации:
            .jury__name Евгения Владимировна Копысова
            p Заслуженный деятель искусств Удмуртской Республики, член союза композиторов Российской Федерации
          img.detailnom__pick(src="assets/commitet1.png")
  .about__wrap
    .about__container
      .about__left
        .about__ancors
          .about__ancor
            a(href="#music") Номинации
          .about__ancor
            a(href="#art") Члены рабочей группы
          .about__ancor
            a(href="#audio") Следующая номинация
      .about__right
        .content
          h2.detailnom__h2 Номинации
          .detailnom__section
            .detailnom__list(data-number="01")
              span Академическое инструментальное исполнительство
            p Сольное и ансамблевое, на народных инструментах
            strong Секции:
            ul
              li
                strong Фортепьяно
                ol
                  li Одно произведение (либо его части) эпохи барокко или классицизма.
                  li Одно произведение западно-европейского или отечественного композитора ХIХ–ХХI вв.
              li
                strong Оркестровые струнные инструменты
                ol
                  li Одно произведение (либо его части) эпохи барокко или классицизма.
                  li Одно произведение западно-европейского или отечественного ком
              li
                strong Оркестровые духовые инструменты
                ol
                  li Одно произведение (либо его части) эпохи барокко или классицизма.
                  li  Одно произведение западно-европейского или отечественного ком
              li
                strong Вокальное искусство
                p Два разнохарактерных произведения
          .detailnom__section
            .detailnom__list(data-number="02")
              span Вокальное искусство
            p Сольное и ансамблевое, на народных инструмента
          .detailnom__section
            .detailnom__list(data-number="03")
              span Музыкальный фольклор народов России и мира
        .block__blue
          h2.detailnom__h2 Члены рабочей группы
          .member__wrap
            .member__block
              .member__pick
                svg(role='img', width='54', height='64')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#wo')
              .member__title Ольга Валерьевна Бокова
              .member__text Заслуженный работник культуры УР, зав отд. ф-но РМК.
            .member__block
              .member__pick
                img(role='img' src="assets/image3.png")
              .member__title Татьяна Павловна Белава
              .member__text Заслуженный работник культуры УР, преподаватель (скрипка), зам. директора по научно-методической работе РМК.
            .member__block
              .member__pick
                svg(role='img', width='54', height='64')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#wo')
              .member__title Сергей Николаевич Воеводский
              .member__text Pаслуженный артист УР, зав. отд. оркестровых, духовых и ударных инструментов РМК
            .member__block
              .member__pick
                svg(role='img', width='54', height='64')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#me')
              .member__title Сергей Николаевич Воеводский
              .member__text Pаслуженный артист УР, зав. отд. оркестровых, духовых и ударных инструментов РМК
        +share()
  .banner__wrap
    .banner__section
      .banner__left
        .banner
          a.back_link(href="nomination.html")
            svg(role='img', width='32', height='14')
              use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#arrow_back')
            span Назад к номинациям
          a.next_link(href="nomination.html")
            span Изобразительное искусство
            svg(role="img" width="185" height="14")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_next")
      .banner__right
        svg(role='img', width='304', height='344')
          use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon2')
