extends _layouts/sliderless
block content
  .form__wrap
    .container
      .row
        .form__left
          h1 Заявка на участие
          .form__text Во Вторых Международных Парадельфийских играх 2018 года в г. Ижевске Удмуртской Республики
          form.form__fields
            fieldset
              label
              input(type="password" name="password" placeholder="Введите пароль")
              input(type="button" name="send" placeholder="Перейти к заявке")
              a(href="") Получить пароль на электронную почту
        .form__right
          .form__information Информация
            p По итогам отборочного тура регионального этапа стране или субъекту РФ необходимо подать сводную заявку на участие в Играх.
            p Данные для входа переданы представителям субъекта или страны, на электронную почту.
          .form__information Связаться с нами
          .form_contacts
            a(href="tel:+79161629807") +7 (916) 162-98-07
            a(href="mail:paradelf2018@gmail.com") paradelf2018@gmail.com
            .form__soc
              a(href="https://vk.com/paradel18")
                svg(role='img', width='19', height='12')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#vk')
              a(href="https://www.facebook.com/groups/224056361670273/about/")
                svg(role='img', width='19', height='12')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#f')
