extends _layouts/detailnomination
include _modules/news/news
include _modules/share/share
include _modules/slider/slider
block content
  section.section-top.purple-top
    .newsdetail__container
      a.back_link(href="nomination.html")
        svg(role="img" width="32" height="14")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_back")
        span Вернуться назад
      .newsdetail__pick
        img(src="assets/image 4.png")
  .container-small
    .content.newsdetail__content
      .h1.newsdetail__h1 Почти 1500 человек приедут на дельфийские игры в Приморье
      .newsdetail__autor Автор: Василий Островский
      p 20-25 апреля Приморский край, первый из всех регионов Дальнего Востока, примет Семнадцатые молодежные Дельфийские игры России. Заседание организационного комитета по проведению мероприятия провел врио Губернатора края Андрей Тарасенко в пятницу, 6 апреля.
      p С ноября 2017 года по февраль 2018 года во всех субъектах Российской Федерации проходили малые Дельфийские игры и отборочные туры, в которых приняло участие около 600 тысяч человек. По итогам отборов порядка 70 регионов направляют свои сборные во Владивосток – таким образом, на Дельфийские игры в Приморье прибудут не менее 1500 молодых деятелей искусства. Помимо этого, одной из самых многочисленных станет делегация Приморского края, ожидается, что в ее состав войдет почти 500 юных творцов.
      p Работы и выступления участников игр будет оценивать именитое жюри, в состав которого войдут около 80 признанных мастеров, заслуженных и народных артистов России, профессоров и докторов искусствоведения.
      p  Глава региона подчеркнул, что помимо организации соревновательных площадок важно обеспечить комфортное и, главное, безопасное пребывание гостей в крае.
      .newsdetail__slider
        +slider()
      p «Мы должны принять около 1,5 тысяч человек со всех регионов и по всем номинациям достойно организовать работу. Указания оказать нам содействие также получили федеральные органы власти – Министерство образования, Министерство культуры и другие. Важно успешно организовать игры», – заявил Андрей Тарасенко.
      p Направление делегаций субъектов Российской Федерации во Владивосток осуществляется с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.
      p Вопросы безопасности мероприятия находятся на особом контроле организаторов, отметил директор Международного Дельфийского комитета, председатель исполкома Национального Дельфийского совета России Владимир Понявин.
      .video__wrap
        iframe(width="560" height="315" src="https://www.youtube.com/embed/iW2dgIzON5Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
  .newsdetail__gallery
    .newsdetail__containergallery
      .newsdetail__wrapgallery
        .gallery
          h2.commitet__h2 32 фотографии
          .gallery__wrap.owl-carousel
            .gallery__item
              a.gallery__item-link(href="assets/gallery1.png")
                img(src="assets/gallery1.png")
            .gallery__item
              a.gallery__item-link(href="assets/gallery2.png")
                img(src="assets/gallery2.png")
            .gallery__item
              a.gallery__item-link(href="assets/gallery3.png")
                img(src="assets/gallery3.png")
            .gallery__item
              a.gallery__item-link(href="assets/gallery4.png")
                img(src="assets/gallery4.png")
            .gallery__item
              a.gallery__item-link(href="assets/gallery4.png")
                img(src="assets/gallery4.png")
            .gallery__item
              a.gallery__item-link(href="assets/gallery4.png")
                img(src="assets/gallery4.png")
  .container
    +share()
  .block__blue
    .container
      h2.commitet__h2 Популярные новости
      .smi__wrap.owl-carousel
        .news__item
          .news__img
            img(src="/assets/image.png")
          .news__date 13 апреля 2018
          .news__title Зимняя школа инклюзивного танца
          .news__anons С 9 по 16 января 2018 года в Доме отдыха «Ершово» в рамках VI Международного благотворительного танцевального фестиваля «Inclusive Dance» состоится зимняя Школа инклюзивного танца (ШИТ).
          a(href="#").news__link Читать полностью
        .news__item
          .news__img
            img(src="/assets/image2.png")
          .news__date 13 апреля 2018
          .news__title Зимняя школа инклюзивного танца
          .news__anons С 9 по 16 января 2018 года в Доме отдыха «Ершово» в рамках VI Международного благотворительного танцевального фестиваля «Inclusive Dance» состоится зимняя Школа инклюзивного танца (ШИТ).
          a(href="#").news__link Читать полностью
        .news__item
          .news__img
            img(src="/assets/image2.png")
          .news__date 13 апреля 2018
          .news__title Зимняя школа инклюзивного танца
          .news__anons С 9 по 16 января 2018 года в Доме отдыха «Ершово» в рамках VI Международного благотворительного танцевального фестиваля «Inclusive Dance» состоится зимняя Школа инклюзивного танца (ШИТ).
          a(href="#").news__link Читать полностью
