extends _layouts/inner
include _modules/openmenu/openmenu
include _modules/share/share
include _modules/news/news

block content
  +openmenu()
  .about__wrap
    .about__container
      .about__left
        .about__ancors
          .about__ancor
            a(href="#music") Музыкальное искусство
          .about__ancor
            a(href="#art") Изобразительное искусство
          .about__ancor
            a(href="#audio") Аудио-визуальное искусство
          .about__ancor
            a(href="#theater") Театральное искусство
          .about__ancor
            a(href="#poetry") Литература (поэзия, проза)
          .about__ancor
            a(href="#songs") Жестовая песня
          .about__ancor
            a(href="#dance") Хореографическое искусство
          .about__ancor
            a(href="#circus") Цирковое искусство
      .about__right
        .content
          h1 Номинации
          .nominations
            .nomination#music
              .nomination__about
                .nomination__pick
                  svg(role='img', width='160', height='160')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon3')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Музыкальное искусство
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Евгения Владимировна Копысова
                  p Заслуженный деятель искусств Удмуртской Республики, член союза композиторов Российской Федерации
            .nomination#art
              .nomination__about
                .nomination__pick
                  svg(role='img', width='160', height='160')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon2')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Изобразительное искусство
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Ольга Вячеславовна Чунаева
                  p Заслуженный деятель искусств Удмуртской Республики, член союза  художников Российской Федерации, доцент кафедры декоративно-прикладного творчества и народных промыслов ФГБО ВО «Удмуртский государственный университет»
            .nomination#audio
              .nomination__about
                .nomination__pick
                  svg(role='img', width='111', height='112')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon5')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Аудио-визуальное искусство
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Влада Вячеславовна Одинцова
                  p Главный редактор телеканала «Моя Удмуртия», заслуженный журналист Удмуртии.
            .nomination#theater
              .nomination__about
                .nomination__pick
                  svg(role='img', width='160', height='160')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon1')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Театральное искусство
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Вероника Алексеевна Корепанова
                  p Народная артиста УАССР, народная артистка РСФСР
            .nomination#poetry
              .nomination__about
                .nomination__pick
                  svg(role='img', width='111', height='112')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon6')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Литература (поэзия, проза)
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Ирина Васильевна Христофорова
                  p Заслуженный работник культуры Удмуртской Республики, преподаватель высшей квалификационной  категории специализации «Театральное творчество» УРКК
            .nomination#songs
              .nomination__about
                .nomination__pick
                  svg(role='img', width='111', height='112')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon7')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Жестовая песня
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Валентина Николаевна Гаврилова
                  p Лучший сурдопереводчик России 2015 года, Заместитель председателя УРО ОООИ «Всероссийское общество глухих», действующий сурдопереводчик новостных программ, организатор конкурсов жестовой песни.
            .nomination#dance
              .nomination__about
                .nomination__pick
                  svg(role='img', width='160', height='160')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon4')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Хореографическое искусство
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Сария Ибрагимовна Сухенькая
                  p Заслуженный работник культуры Удмуртской Республики, заслуженный работник культуры Российской Федерации, педагог высшей квалификационной категории Удмуртского республиканского колледжа культуры награждена знаками «За отличную работу в культуре СССР» и «За достижения в  культуре РФ»
            .nomination#circus
              .nomination__about
                .nomination__pick
                  svg(role='img', width='160', height='160')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon8')
                .nomination__text
                  a(href="detailnomination.html").nomination__title Цирковое искусство
                  .nomination__description Участвуют все категории инвалидов вместе. Продолжительность выступления не более 7 минут.
              .nomination__jury
                .jury__text
                  span Руководитель рабочей группы жюри по номинации:
                  .jury__name Оксана Сергеевна Майшева
                  p Заслуженный работник культуры Удмуртской Республики, заместитель директора АУК Ур «Государственный цирк Удмуртии», руководитель детской цирковой студии Государственного цирка Удмуртии
        +share()
  +news()
