extends _layouts/inner
include _modules/openmenu/openmenu
include _modules/share/share

block content
  +openmenu()
  .about__wrap
    .about__container
      .about__left
        .about__ancors
          .about__ancor
            a(href="#11nov") 11 ноября
          .about__ancor
            a(href="#12nov") 12 ноября
          .about__ancor
            a(href="#13nov") 13 ноября
          .about__ancor
            a(href="#14nov") 14 ноября
          .about__ancor
            a(href="#15nov") 15 ноября
          .about__ancor
            a(href="#16nov") 16 ноября
          .about__ancor
            a(href="#17nov") 17 ноября
          .about__ancor
            a(href="#18nov") 18 ноября
      .about__right
        .program__head
          h1 Программа
          a.program__link(href="#") скачать программу
        .program__title Общие мероприятия
        .program__wrap
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
        .program__title По номинациям
        .program__filter
          .program__select
            select
              option Все
              option Музыкальное искусство
              option Изобразительное искусство
              option Аудио-визуальное искусство
              option Театральное искусство
              option Литература (поэзия, проза)
              option Жестовая песня
              option Хореографическое искусство
              option Цирковое искусство
        .program__wrap
          .program__nomination Музыкальное искусство
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
        .program__wrap
          .program__nomination Аудио-визуальное искусство
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
              .program__cell
                time.program__time 12:00 — 13:30
                .program__event Мастер-класс «Рисование пальцами»
              .program__cell
                .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
          .program__row
            .program__cell
              time.program__time 12:00 — 13:30
              .program__event Мастер-класс «Рисование пальцами»
            .program__cell
              .program__address БУ УР «Дом дружбы народов», г. Ижевск, ул. Орджоникидзе, 33А
        +share()
