extends _layouts/sliderless
block content
  .form__wrap
    .form__container
      .form__left
        .form__content
          h1 Заявка на участие
          .form__text Во Вторых Международных Парадельфийских играх 2018 года в г. Ижевске Удмуртской Республики
          form.form__fields
            h2 Информация о стране или субъекте РФ
            fieldset
              label(for="country") Ваша страна
              .input__wrapper-autocomplete
                input#country(type="text" data-id name="country" placeholder="Вевдите название страны", autocomplete="off")
                ul#complete(style="display:none")
                  li
                    a.select-city__link(data-id="1") Москва
                  li
                    a.select-city__link(data-id="2") Минск
                  li
                    a.select-city__link(data-id="3") Ижевск
            h2 Количество участников с инвалидностью
            fieldset
              .form__flex-space
                label
                  strong Инвалиды-колясочники
                  span.form_explanation  (передвигающиеся только на инвалидных колясках)
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label
                  strong Инвалиды-колясочники
                  span.form_explanation (использующие при передвижении различные опорные приспособления)
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label
                  strong Инвалиды-опорники, использующие при передвижении только опору
                  span.form_explanation (трость, костыли, ходунки)
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label
                  strong Инвалиды по зрению
                  span.form_explanation (слепые)
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label
                  strong Инвалиды по зрению
                  span.form_explanation (слабовидящие)
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label
                  strong Инвалиды по слуху
                  span.form_explanation (глухие и слабослышащие)
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label
                  strong Инвалиды вследствие психических заболеваний
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label
                  strong Иные группы инвалидности
                input.input__small(type="text")
            fieldset
              .form__flex-space
                label(for="number")
                  strong Общее количество
                input.input__small(type="text" name="number" id="number")
            .form__flex
              h2 Члены дилегации
              a(href="delegation.html").add Добавить
            .result__form
              .result__head
                .form__flex-full
                  .result__name Артемий Артурович Иванов
                  a(href="delegation.html").add редактировать
                  span Руководитель делегации
              .result__row
                .result__col Телефон:
                .result__col +7 (000) 000-00-00
              .result__row
                .result__col Электронная почта:
                .result__col hello@gmail.com
            .result__form
              .result__head
                .form__flex-full
                  .result__name Артемий Артурович Иванов
                  a(href="delegation.html").add редактировать
                  span Руководитель делегации
              .result__row
                .result__col Телефон:
                .result__col +7 (000) 000-00-00
              .result__row
                .result__col Электронная почта:
                .result__col hello@gmail.com
            .form__flex
              h2 Участники игр
              a(href="member.html").add Добавить
            .result__form
              .result__head
                .form__flex-full
                  .result__name Артемий Артурович Иванов
                  a(href="delegation.html").add редактировать
                  span Руководитель делегации
              .result__row
                .result__col Телефон:
                .result__col +7 (000) 000-00-00
              .result__row
                .result__col Адрес:
                .result__col г. Ижевск, ул. Пушкинская д. 23, кв. 11
              .result__row
                .result__col Комментрарий:
                .result__col Есть сопровождающий
            .result__form
              .result__head
                .result__nomination Первая номинация
              .result__row
                .result__col Индивидуальный исполнитель:
                .result__col МС Артемий
              .result__row
                .result__col Вид искусства:
                .result__col Музыкальное искусство
              .result__row
                .result__col Номинация:
                .result__col Музыкальный фольклор нородов России и мира
              .result__row
                .result__col Ссылки на портфолио
                .result__col
                  a.result__link(href="#") www.paradelf.com
                  a.result__link(href="#") www.paradelf.com
                  a.result__link(href="#") www.paradelf.com
              .result__row
                .result__col Конкурсный репертуар:
                .result__col Песня «Стена» слова Танич М., музыка Укупник. А.
            fieldset
              input.disabled.small__btn(type="submit" name="send" value="Отправить заявку" )
            fieldset
              input(type="checkbox" name="confirm" id="confirm")
              label(for="confirm")
                | Я согласен с
                a(href="") условиями пользовательского соглашения
                | и
                a(href="") политикой конфиденциальности
            .disclamer
              p После отправки заявки, подтверждение о ее получении придет на на электронную почту Ответственного контактного лица, указанного в данной заявке.
              p Окончательное решение о включении участников в финал Игр принимает Оргкомитет Игр.
              p Решение Оргкомитета придет на электронную почту Ответственного контактного лица, указанного в данной заявке.
      .form__right
        .form__content
          .form__information Информация
            p По итогам отборочного тура регионального этапа стране или субъекту РФ необходимо подать сводную заявку на участие в Играх.
            p Данные для входа переданы представителям субъекта или страны, на электронную почту.
          .form__information Связаться с нами
          .form_contacts
            a(href="tel:+79161629807")
              nobr +7 (916) 162-98-07
            a.bordered(href="mail:paradelf2018@gmail.com")
              nobr paradelf2018@gmail.com
            .form__soc
              a(href="https://vk.com/paradel18")
                svg(role='img', width='19', height='12')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#vk')
              a(href="https://www.facebook.com/groups/224056361670273/about/")
                svg(role='img', width='19', height='12')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#f')
