extends _layouts/inner
include _modules/openmenu/openmenu
include _modules/map/map
include _modules/share/share
include _modules/news/news
block content
  +openmenu()
  .about__wrap
    .about__container
      .about__left
        .about__ancors
          .about__ancor
            a(href="#music") Музыкальное искусство
          .about__ancor
            a(href="#art") Изобразительное искусство
          .about__ancor
            a(href="#audio") Аудио-визуальное искусство
          .about__ancor
            a(href="#theater") Театральное искусство
          .about__ancor
            a(href="#poetry") Литература (поэзия, проза)
          .about__ancor
            a(href="#songs") Жестовая песня
          .about__ancor
            a(href="#dance") Хореографическое искусство
          .about__ancor
            a(href="#circus") Цирковое искусство
      .about__right
        h1 Результаты
        .content
          p Официальная церемония закрытия состоялась 22 апреля 2017 года, в рамках которой были объявлены шесть лидеров официального командного первенства Шестнадцатых молодежных Дельфийских игр России: шестое место завоевала делегация Пермского края, пятое – Тульской области, четвертое – Самарской области, третье – Новосибирской области, второе – Свердловской области, первое – города Москвы.  В ходе гала-концерта выступили лауреаты Игр (золотые медали).
        .result__wrap
          .result__nomination Фортепьяно
          .result__group__name Возрастная группа «10-13 лет»
          .result__group
            .result__position
              .result__place 1 место
              .result__name Егор Алексеевич Опарин
              .result__city г. Москва
            .result__position
              .result__place 2 место
              .result__name Наталья Дмитриевна Хорохова
              .result__city Рязанская область
            .result__position
              .result__place 3 место
              .result__name Александо Олегович Валов
              .result__city Свердловская область
          .result__group__special Специальные дипломы
          .result__group
            .result__position
              .result__place 1 место
              .result__name Егор Алексеевич Опарин
              .result__city г. Москва
            .result__position
              .result__place 2 место
              .result__name Наталья Дмитриевна Хорохова
              .result__city Рязанская область
            .result__position
              .result__place 3 место
              .result__name Александо Олегович Валов
              .result__city Свердловская область
          .result__group__name Возрастная группа «10-13 лет»
          .result__group
            .result__position
              .result__place 1 место
              .result__name Егор Алексеевич Опарин
              .result__city г. Москва
            .result__position
              .result__place 2 место
              .result__name Наталья Дмитриевна Хорохова
              .result__city Рязанская область
            .result__position
              .result__place 3 место
              .result__name Александо Олегович Валов
              .result__city Свердловская область
        .result__wrap
          .result__nomination Фортепьяно
          .result__group__name Возрастная группа «10-13 лет»
          .result__group
            .result__position
              .result__place 1 место
              .result__name Егор Алексеевич Опарин
              .result__city г. Москва
            .result__position
              .result__place 2 место
              .result__name Наталья Дмитриевна Хорохова
              .result__city Рязанская область
            .result__position
              .result__place 3 место
              .result__name Александо Олегович Валов
              .result__city Свердловская область
          .result__group__special Специальные дипломы
          .result__group
            .result__position
              .result__place 1 место
              .result__name Егор Алексеевич Опарин
              .result__city г. Москва
            .result__position
              .result__place 2 место
              .result__name Наталья Дмитриевна Хорохова
              .result__city Рязанская область
            .result__position
              .result__place 3 место
              .result__name Александо Олегович Валов
              .result__city Свердловская область
          .result__group__name Возрастная группа «10-13 лет»
          .result__group
            .result__position
              .result__place 1 место
              .result__name Егор Алексеевич Опарин
              .result__city г. Москва
            .result__position
              .result__place 2 место
              .result__name Наталья Дмитриевна Хорохова
              .result__city Рязанская область
            .result__position
              .result__place 3 место
              .result__name Александо Олегович Валов
              .result__city Свердловская область
        +share()
    .block__blue
      +news()
