extends _layouts/detailnomination
block content
  section.section-top.purple-top
    .translation__container
      a.back_link.back_link-translation(href="nomination.html")
        svg(role="img" width="32" height="14")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_back")
          span Вернуться назад
      .translation__title
        h1 Онлайн-трансляция
  .translation__bordered
    .translation__filter.container-small
      ul.translation__list
        li.translation__li
          a(href="#")(data-date="2016-12-24").translationDate.translation__link-past Вс, 11
        li.translation__li
          a(href="#")(data-date="2016-12-25").translationDate.translation__link-past Пн, 12
        li.translation__li
          a(href="#")(data-date="2017-11-11").translationDate.translation__link-past Чт, 15
        li.translation__li
          a(href="#")(data-date="2016-12-26").translationDate.translation__link-current Сегодня
        li.translation__li
          span.translation__link-next Пт, 16
        li.translation__li
          span.translation__link-next Сб, 17
  .translation__videoblock
    .translation__programm
      h2 Программа
      .translation__select
        select#translationSelect
          option(disabled) Выберите программу
          option.defaultOption(data-program="PL3gXAKX3OCdH1IoZb5FLL3RADPrKt9PXI") БУ УР «Дом дружбы народов»
          option(data-program="PLdpsTLVZ5tOiiX8MMqXPI3oEJe28UzaWq") Другой пункт
    section#video.translation__video.video__wrap
    main
