extends _layouts/detailnomination
block content
  section.section-top.purple-top
    .translation__container
      a.back_link.back_link-translation(href="nomination.html")
        svg(role="img" width="32" height="14")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_back")
          span Вернуться назад
      .translation__title
        h1 Онлайн-трансляция
  .translation__bordered
    .translation__filter.container-small
      ul.translation__list
        li.translation__li
          a(href="#").translation__link-past Вс, 11
        li.translation__li
          a(href="#").translation__link-past Пн, 12
        li.translation__li
          a(href="#").translation__link-current Сегодня
        li.translation__li
          span.translation__link-next Ср, 14
        li.translation__li
          span.translation__link-next Чт, 15
        li.translation__li
          span.translation__link-next Пт, 16
        li.translation__li
          span.translation__link-next Сб, 17
  .translation__videoblock
    .translation__programm
      h2 Программа
      .translation__select
        select
          option(disabled) Выберите программу
          option БУ УР «Дом дружбы народов»
    .translation__video.video__wrap
      iframe(width="560", height="315", src="https://www.youtube.com/embed/UDLpUprnOLc", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
    .translation__videoitems
      .translation__videoitem.translation__videoitem-close
        .translation__button
        .translation__time.translation__time-last
          time(datetime="08:20") 08:20
          .translation__format (UTC +4)
        .translation__preview
          iframe(width="248", height="144", src="https://www.youtube.com/embed/UDLpUprnOLc", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .translation__description
          .translation__name Вокальное искусство
          .translation__text Сольное и ансамблевое, на народных инструментах
      .translation__videoitem.translation__videoitem-close
        .translation__button
        .translation__time.translation__time-current
          .translation__sticker Сейчас
          time(datetime="11:30") 11:30
          .translation__format (UTC +4)
        .translation__preview
          iframe(width="248", height="144", src="https://www.youtube.com/embed/UDLpUprnOLc", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .translation__description
          .translation__name Академическое инструментальное исполнение
          .translation__text Сольное и ансамблевое, на народных инструментах
      .translation__videoitem.translation__videoitem-next.translation__videoitem-close
        .translation__button
        .translation__time
          time(datetime="13:05") 13:05
          .translation__format (UTC +4)
        .translation__preview
          iframe(width="248", height="144", src="https://www.youtube.com/embed/UDLpUprnOLc", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .translation__description
          .translation__name Музыкальный фольклор народов&nbsp;России&nbsp;и мира
      .translation__videoitem.translation__videoitem-next.translation__videoitem-close
        .translation__button
        .translation__time
          time(datetime="14:55") 14:55
          .translation__format (UTC +4)
        .translation__preview
          iframe(width="248", height="144", src="https://www.youtube.com/embed/UDLpUprnOLc", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .translation__description
          .translation__name Музыкальный фольклор народов&nbsp;России&nbsp;и мира
