extends _layouts/detailnomination
block content
  section.section-top.purple-top
    .translation__container
      a.back_link.back_link-translation(href="nomination.html")
        svg(role="img" width="32" height="14")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_back")
          span Вернуться назад
      .translation__title
        h1 Онлайн-трансляция
  .translation__videoblock
    section#video.translation__video.video__wrap
      iframe(src="https://www.youtube.com/embed/tREya1CkMdQ?autoplay=1", allow="autoplay encrypted-media", allowfullscreen="", width="560", height="315", frameborder="0")
    .translation__programm
      h2 Программа
    main.translation__videoitems
      article.translation__videoitem.translation__videoitem-close
        .translation__time.translation__time-last
          .translation__sticker-gray 24.10.18
          time(datetime="08:20") 08:20
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap
            img.videoImg(src="https://img.youtube.com/vi/wUbwJJSxwDY/0.jpg" data-src="wUbwJJSxwDY")
        .translation__description
          h4.translation__name Вокальное искусство
          .translation__text Сольное и ансамблевое, на народных инструментах
          .translation__available Видео доступно
      article.translation__videoitem.translation__videoitem-close
        .translation__time.translation__time-current
          .translation__sticker Сейчас
          time(datetime="11:30") 11:30
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap
            img.videoImg(src="https://img.youtube.com/vi/NCFbVlCoHeY/0.jpg" data-src="NCFbVlCoHeY")
        .translation__description
          h4.translation__name Академическое инструментальное исполнение
          .translation__text Сольное и ансамблевое, на народных инструментах
          .translation__available Видео доступно
      article.translation__videoitem.translation__videoitem-next.translation__videoitem-close
        .translation__time
          .translation__sticker-gray 24.10.18
          time(datetime="13:05") 13:05
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap.video__wrap-empty
        .translation__description
          h4.translation__name Музыкальный фольклор народов&nbsp;России&nbsp;и мира
      article.translation__videoitem.translation__videoitem-next.translation__videoitem-close
        .translation__time
          .translation__sticker-gray 24.10.18
          time(datetime="14:55") 14:55
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap.video__wrap-empty
        .translation__description
          h4.translation__name Музыкальный фольклор народов&nbsp;России&nbsp;и мира
