extends _layouts/detailnomination
block content
  section.section-top.purple-top
    .translation__container
      a.back_link.back_link-translation(href="nomination.html")
        svg(role="img" width="32" height="14")
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_back")
          span Вернуться назад
      .translation__title
        h1 Онлайн-трансляция
  .translation__bordered
    .translation__filter.container-small
      ul.translation__list
        li.translation__li
          a(href="#").translationDate.translation__link-past Вс, 11
        li.translation__li
          a(href="#").translationDate.translation__link-past Пн, 12
        li.translation__li
          a(href="#").translationDate.translation__link-past Чт, 15
        li.translation__li
          a(href="#").translationDate.translation__link-current Сегодня
        li.translation__li
          span.translation__link-next Пт, 16
        li.translation__li
          span.translation__link-next Сб, 17
  .translation__videoblock
    .translation__programm
      h2 Программа
      .translation__select
        select#translationSelect
          option(disabled) Выберите программу
          option.defaultOption БУ УР «Дом дружбы народов»
          option Другой пункт
    section#video.translation__video.video__wrap
    main.translation__videoitems
      article.translation__videoitem.translation__videoitem-close
        .translation__time.translation__time-last
          time(datetime="08:20") 08:20
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap
            img.videoImg(src="https://img.youtube.com/vi/wUbwJJSxwDY/0.jpg" data-src="wUbwJJSxwDY")
        .translation__description
          h4.translation__name Вокальное искусство
          .translation__text Сольное и ансамблевое, на народных инструментах
      article.translation__videoitem.translation__videoitem-close
        .translation__time.translation__time-current
          .translation__sticker Сейчас
          time(datetime="11:30") 11:30
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap
            img.videoImg(src="https://img.youtube.com/vi/NCFbVlCoHeY/0.jpg" data-src="NCFbVlCoHeY")
        .translation__description
          h4.translation__name Академическое инструментальное исполнение
          .translation__text Сольное и ансамблевое, на народных инструментах
      article.translation__videoitem.translation__videoitem-next.translation__videoitem-close
        .translation__time
          time(datetime="13:05") 13:05
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap.video__wrap-empty
        .translation__description
          h4.translation__name Музыкальный фольклор народов&nbsp;России&nbsp;и мира
      article.translation__videoitem.translation__videoitem-next.translation__videoitem-close
        .translation__time
          time(datetime="14:55") 14:55
          .translation__format (UTC +4)
        .translation__preview
          .video__wrap.video__wrap-empty
        .translation__description
          h4.translation__name Музыкальный фольклор народов&nbsp;России&nbsp;и мира
