extends _layouts/inner
include _modules/openmenu/openmenu
include _modules/map/map
include _modules/share/share
include _modules/news/news


block content
  +openmenu()
  .about__wrap
    .about__container
      .about__left
        .about__ancors
          .about__ancor
            a(href="#udmurt") Об Удмуртии
          .about__ancor
            a(href="#factory") Предприятия Удмутрии
          .about__ancor
            a(href="#audio") Афиша событий
      .about__right
        .content
          h1 Об Удмуртии
          .udmurt__items
            .udmurt__item#udmurt
              .video__wrap
                iframe(width="560" height="315" src="https://www.youtube.com/embed/NCFbVlCoHeY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
              .udmurt__smalltitle Удмуртия 2018
              p.
                Удму́ртская Респу́блика — субъект Российской Федерации, республика в её составе. Входит в состав Приволжского федерального округа, является частью Уральского экономического района. Граничит на западе и севере с Кировской областью, на востоке — с Пермским краем, на юге — с Башкортостаном и Татарстаном. Столица — город Ижевск.
              a(href="https://ru.wikipedia.org/wiki/Удмуртия") https://ru.wikipedia.org/wiki/Удмуртия
              .udmurt__item#factory
                h2 Предприятия Удмуртии
                p.
                  Удмуртия славится и гордится своими предприятиями. Многие из которых делают продукцию как для людей с различными ограничениями по здоровью, так и обычную гражданскую.
                .udmurt__spoilers
                  .spoiler__item.spoiler__item-close
                    .spoiler__title.
                      «Ижевский» филиал ФГУП «Московское протезно-ортопедическое предприятие» Министерства труда и социальной защиты РФ
                    .spoiler__content
                      p.
                        Единственное государственное предприятие на территории Удмуртской Республики, оказывающее весь спектр протезно-ортопедических услуг населению (производство и реализация протезов различных конструкций, ортезов, ортопедической обуви; ремонт и техническое обслуживание изделий; диагностика состояния дефектов и реабилитационных возможностей у лиц, нуждающихся в протезно-ортопедической помощи; оказание реабилитационных услуг, в том числе в стационаре сложного протезирования).
                      .udmurt__smalltitle За год предприятие в среднем производит более:
                      ul
                        li около 500 различных протезов верхних и нижних конечностей;
                        li 30 видов ортезов;
                        li 4000 пар ортопедической обуви для взрослых и детей и др.
                      p.
                        Уникальность предприятия в том, что, благодаря сочетанию медицины и производства, здесь оказывают комплексную помощь пациентам, страдающим заболеваниями опорно-двигательного аппарата.
                      p.
                        Центральным ядром протезно-ортопедических изделий, выпускаемых «Ижевским» филиалом ФГУП «Московское ПРОП» Минтруда России, являются модульные протезы нижних конечностей, которые собирают наши специалисты из большого ассортимента комплектующих различных мировых компаний таких как: "OTTO BOCK" (Германия), "OSSUR" (Исландия), "ENDOLITE" (Англия), «Nabtesco», Япония, "REGAL" (Китай), ведущих отечественных производителей: "группа компаний METIZ"; РКК «Энергия» им. С.П. Королева, а также собственного производства.
                      p.
                        Использование современных углеволоконных композиционных материалов, экологически чистых материалов, сверхлегких и прочных сплавов, эластомеров и интеллектуальной электроники, позволяют нам решать сложные практические задачи, необходимые для повседневной помощи пользователям протезов. Диапазон изделий включает в себя как простые удобные протезные конструкции, так и сложнейшие динамические, многофункциональные системы для людей, ведущих активный образ жизни и занимающихся спортом.
                      p
                        b Протезы
                        | в ортопедической технике — это конструкции, которые служат воспроизведению функций и нормальному внешнему виду ампутированной конечности. Протезы изготавливаются индивидуально и являются уникальными изделиями, их конструкция и материалы определяются медицинскими показаниями, уровнем активности протезируемого.
                      p В настоящее время разнообразие конструкций
                        b протезов нижних конечностей
                        | позволяет обеспечить пациентов протезами, отвечающими требованиям повседневной жизни и трудовой деятельности. Кроме протезов для повседневной носки могут быть изготовлены протезы для плавания, спортивные для бега, рабочие и другого назначения.
                  .spoiler__item.spoiler__item-close
                    .spoiler__title.
                      ООО «Локомотив»
                    .spoiler__content
                      p контент
                  .spoiler__item.spoiler__item-close
                    .spoiler__title.
                      ООО «ОРТЭКС»
                    .spoiler__content
                      p контент
                    .spoiler__item.spoiler__item-close
                      .spoiler__title.
                        ООО «СП "Техника"»
                      .spoiler__content
                        p контент
                    .spoiler__item.spoiler__item-close
                      .spoiler__title.
                        ООО «ИП "Спутник"» им. Исаенко Е.М
                      .spoiler__content
                        p контент
