mixin date()
  .date
    .date__title До начала игр:
    .date__time
      time.day#day 30
      span день
    ||
    .date__time
      time.hour#hour 07
      span часов
    |:
    .date__time
      time.minuts#minuts 45
      span минут
