mixin low_vision()
  #CecutientWrapper
    #CecutientBlock
      span Изображения:
        a#ImageOn.button Выкл
        a#ImageOff.button Вкл
      span Шрифт:
        a#SmallFonts.button А
        a#MediumFonts.button А
        a#BigFonts.button А
      span Цвет:
        a#WhiteStyle.button А
        a#BlackStyle.button А
        a#BlueStyle.button А
        a#GreenStyle.button А
      a#CecutientOff
        span.img
        | Полная версия
